span{
    padding: 10px;
}
article{
    margin: 20px;
}
ul {list-style: none}
li::before {content: "•"; color: red;
    display: inline-block; 
    width: 1em;
    font-weight: bold;
    font-size: 20px;
}