.countSellerComponent{
    margin-left: 70px;
    margin-top: 2%;
}
.tile{
    height: 144px;
    width: 295px;
    background-color: #FCC7D0;
    border-radius: 15px;
    padding-top: 4%;
}

.secondTile{
    margin-left: 25px;
    background-color: #DEC7FC;
}

.thirdTile{
    margin-left: 25px;
    background-color: #C7FCCC;
}

.TileDescription{
    font-size: 20px;
}

strong{
    font-size: 45px;
    margin-left: 45%;
}

p{
    text-align: center;
}